# Fetching Rows and Columns
#
# Column :
## 1.Single Column fetching
### data['Player']

In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data['Player']

0              Abrar Ahmed
1      Ahmed Safi Abdullah
2               Akif Javed
3                 Ali Khan
4                Amad Butt
              ...
516             Yasir Khan
517          Zahid Mahmood
518             Zahir Khan
519            Zahoor Khan
520         Zulfiqar Babar
Name: Player, Length: 521, dtype: object

## Multiply column
### data[['Player','Span','Team Name']]

In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data[['Player','Span','Team Name']]

                  Player       Span          Team Name
0            Abrar Ahmed  2023-2023   Islamabad United
1    Ahmed Safi Abdullah  2020-2020   Islamabad United
2             Akif Javed  2020-2021   Islamabad United
3               Ali Khan  2021-2021   Islamabad United
4              Amad Butt  2017-2020   Islamabad United
..                   ...        ...                ...
516           Yasir Khan  2023-2023  Quetta Gladiators
517        Zahid Mahmood  2020-2021  Quetta Gladiators
518           Zahir Khan  2021-2021  Quetta Gladiators
519          Zahoor Khan  2021-2021  Quetta Gladiators
520       Zulfiqar Babar  2016-2017  Quetta Gladiators

[521 rows x 3 columns]

## Or
### data.iloc[ , [1,2,16]]

In [8]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.iloc[,[1,2,16]]

SyntaxError: invalid syntax (163548256.py, line 4)

# Row Fetching 
#
## 1.single row fetching

In [9]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.iloc[0]

Unnamed: 0                   0
Player             Abrar Ahmed
Span                 2023-2023
Mat                          3
Inns                         2
NO                           0
Runs                         0
HS                           0
Ave                       0.00
BF                           2
SR                        0.00
100                          0
50                           0
0                            2
4s                           0
6s                           0
Team Name     Islamabad United
Name: 0, dtype: object

## 2.Multiple row fetching 
### i.1st 3 row print
### data.iloc[0:3]

In [11]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.iloc[0:3]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
1,1,Ahmed Safi Abdullah,2020-2020,3,2,2,9,8*,-,13,69.23,0,0,0,1,0,Islamabad United
2,2,Akif Javed,2020-2021,11,3,3,0,0*,-,3,0.00,0,0,0,0,0,Islamabad United

### ii.skip one one row
### data.iloc[0:11:2]

In [12]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.iloc[0:11:2]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
2,2,Akif Javed,2020-2021,11,3,3,0,0*,-,3,0.00,0,0,0,0,0,Islamabad United
4,4,Amad Butt,2017-2020,16,9,2,60,17,8.57,57,105.26,0,0,2,3,4,Islamabad United
6,6,Asif Ali,2016-2023,76,66,16,1130,75,22.60,717,157.60,0,3,3,63,88,Islamabad United
8,8,Azam Khan,2022-2023,22,20,3,578,97,34.00,384,150.52,0,4,1,46,36,Islamabad United
10,10,Babar Azam,2016-2016,2,2,0,15,15,7.50,26,57.69,0,0,1,1,0,Islamabad United

### iii.only print those row which i want
### data.iloc[[1,6,8]]

In [13]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.iloc[[1,6,8]]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
1,1,Ahmed Safi Abdullah,2020-2020,3,2,2,9,8*,-,13,69.23,0,0,0,1,0,Islamabad United
6,6,Asif Ali,2016-2023,76,66,16,1130,75,22.60,717,157.60,0,3,3,63,88,Islamabad United
8,8,Azam Khan,2022-2023,22,20,3,578,97,34.00,384,150.52,0,4,1,46,36,Islamabad United