In [2]:
import numpy as np
import pandas as pd

delivery=pd.read_csv('deliveries.csv')
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

# top 5 batsman runs

In [5]:
import numpy as np
import pandas as pd

delivery=pd.read_csv('deliveries.csv')
runs=delivery.groupby('batsman')
runs['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

# highest 4 four runs in IPL

In [13]:
import numpy as np
import pandas as pd

delivery=pd.read_csv('deliveries.csv')

runs=delivery[delivery['batsman_runs']==4]
fours=runs.groupby('batsman')
fours['batsman_runs'].count().sort_values(ascending=False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

# highest six in IPL

In [14]:
import numpy as np
import pandas as pd

delivery=pd.read_csv('deliveries.csv')

runs=delivery[delivery['batsman_runs']==6]
fours=runs.groupby('batsman')
fours['batsman_runs'].count().sort_values(ascending=False).head()

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
V Kohli      160
DA Warner    160
Name: batsman_runs, dtype: int64

# one player highest runs on which team

In [42]:
import numpy as np
import pandas as pd

delivery=pd.read_csv('deliveries.csv')

vk=delivery[delivery['batsman']=='V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

# AB de Villiers

In [40]:
import numpy as np
import pandas as pd

delivery=pd.read_csv('deliveries.csv')

ab=delivery[delivery['batsman']=='AB de Villiers']
ab.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)

bowling_team
Mumbai Indians                 510
Rajasthan Royals               485
Kings XI Punjab                482
Chennai Super Kings            374
Sunrisers Hyderabad            313
Kolkata Knight Riders          255
Delhi Daredevils               247
Gujarat Lions                  233
Deccan Chargers                153
Pune Warriors                  149
Royal Challengers Bangalore    115
Rising Pune Supergiants         84
Kochi Tuskers Kerala            54
Rising Pune Supergiant          32
Name: batsman_runs, dtype: int64