# Series opteration
### single ROW / Column
#
## Maim Two Points 
### 1 index      2 value

In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data['Team Name'].value_counts()

Team Name
Peshawar Zalmi       97
Lahore Qalanders     95
Quetta Gladiators    93
Karachi Kings        90
Islamabad United     79
Multan Sultans       67
Name: count, dtype: int64

### look 1st one is index and 2nd column is value 
### now check its type()

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

type(data['Team Name'].value_counts())

pandas.core.series.Series

## only index print
### myseries.index

In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

myseries=data['Team Name'].value_counts()

myseries.index

Index(['Peshawar Zalmi', 'Lahore Qalanders', 'Quetta Gladiators',
       'Karachi Kings', 'Islamabad United', 'Multan Sultans'],
      dtype='object', name='Team Name')

## only print values
### myseries.values

In [8]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

myseries=data['Team Name'].value_counts()

myseries.values

array([97, 95, 93, 90, 79, 67], dtype=int64)

## print only 1st 5 index

In [12]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

myseries=data['Team Name'].value_counts()

myseries.head()

Team Name
Peshawar Zalmi       97
Lahore Qalanders     95
Quetta Gladiators    93
Karachi Kings        90
Islamabad United     79
Name: count, dtype: int64

## find the value with the help of index

In [15]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

myseries=data['Team Name'].value_counts()

myseries['Peshawar Zalmi']

97

## combine two column record like 4 runs and 6 runs

In [19]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data['Player'].value_counts() + data['Team Name'].value_counts()

A Lyth           NaN
AB de Villiers   NaN
AD Hales         NaN
AD Russell       NaN
ADS Fletcher     NaN
                  ..
Zeeshan Ashraf   NaN
Zeeshan Zameer   NaN
Zia-ul-Haq       NaN
Zohaib Khan      NaN
Zulfiqar Babar   NaN
Name: count, Length: 346, dtype: float64